@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
html, body {
    font-family: 'Lato';
    font-weight: 300;
}
.header {
    width: 100%;
    
    position: relative;
}
.logo {
    align-items: left;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.link {
    display: inline-block;
    padding: 20px 0;
    margin: 15px 25px;
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
    color: #0f0f0f;
    font-weight: 400;
    font-size: 24px;
}
.menuBar {
   width: 100; 
   display: inline-block;
   position: absolute;
   bottom: 0;
   left: 0;
   opacity: 0;
   transition: all 300ms;
}

a:hover {
    opacity: 1;
    bottom: 5px;

}







