<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anna Talks Tech</title>
    <link rel="css" type="text/css" href="/components/main.css">
</head>
<body>
<div class="navPopUp">
    <div class="nav">
        <ul>
            <li><a href="/components/index.html">Home</a></li>
            <li><a href="/components/blog.html">Tech Talk</a></li>
            <li><a href="/components/about.html">About</a></li>
        </ul>
    </div>
</div>
    <div class="landingPage">
        <img src="/components/images/logo2.png" alt="Anna Talks Tech Logo">
    </div>
</body>
</html>